/* CSS TABLE OF CONTENTS
---------------------------------
#GLOBALS
     #RESET
     #COLORS
     #TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
        #BLOCK QUPTES
        #HELPERS
        #MEDIA
            #IMAGES (Responsive)
        #COMPONENTS/UI ELEMENTS
            #BUTTONS
#BASE LAYOUT
    #CONTAINER
     #MEDIAQUERIES
     #CONTAINER
     #GRID SYSTEM

#BASE SITE
     #SITE HEADER
        #Site ID
     #SITE MAIN
     #SITE FOOTER
     #SITE NAVIGATION
    #SECTIONS
    #SUB PAGES
--------------------------------- */
/*GLOBAL RESET*/
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

header, footer, aside, nav, main, figure, section, article {
  display: block;
}

body {
  font-family: "roc-grotesk", serif;
  max-width: 45em;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3 {
  font-family: "roc-grotesk-wide", sans-serif;
  margin: 0.5em 0;
  max-width: 45em;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.1em;
}

h3 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
}

p {
  margin: 0 0 0.5em 0.25em;
  max-width: 45em;
}

hr {
  border: 0;
  height: 1px;
  margin: 3em 0;
  background: rgba(0, 0, 0, 0.1);
}

.headline {
  color: #16AE58;
}

.subheadline {
  color: rgba(0, 0, 0, 0.75);
}

a {
  color: #2f4193;
}

a:hover {
  color: #061766;
  font-weight: 500;
}

button {
  font-size: inherit;
  font-family: "roc-grotesk", serif;
}

button,
a.button {
  display: inline-block;
  background-color: #2f4193;
  color: #ffffff;
  padding: 0.75em 1em;
  margin: 0.5em 0 0.5em 0;
  border: 1.5px solid #2f4193;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none;
}

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #061766;
  color: #2f4193;
}

button:hover,
a.button:hover {
  background-color: #061766;
  color: #ffffff;
  border: 1.5px solid #061766;
}

img {
  max-width: 100%;
  height: auto;
}

/* 
MEDIA QUERIES (Mobile First)
    #DEFAULT/Mobile
    #SMALL/Mobile+ - (max-width: 767px)
    #MEDIUM/Tablet - (min-width:768px)
    #LARGE/Desktop - (min-width: 1050px)
    #EXTRALARGE/Desktop+ - (min-width: 1250px)

*/
/* LAYOUT */
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 4%;
}

@media (max-width: 767px) {
  body {
    font-size: 88.75%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 100%;
  }

  .container {
    max-width: 1050px;
    padding: 0 50px;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }

  .container {
    max-width: 1250px;
    padding: 0 50px;
  }
}